{% include 'header.html' %}

<!-- about us style -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/aboutus.css') }}">

{% include 'navigation.html' %}

<div class="row justify-content-center">
    <div class="col-7">
        <h1>Our Core Values</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 mb-4">
                <div class="core-value-item bg-body-tertiary text-center">
                    <i class="fa-solid fa-chart-line"></i>
                    <h5>Quality</h5>
                    <p>Delivering high-quality patient care and customer service are our highest priorities.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="core-value-item bg-body-tertiary text-center">
                    <i class="fa-solid fa-heart-pulse"></i>
                    <h5>Compassion</h5>
                    <p>Delivering high-quality patient care and customer service are our highest priorities.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="core-value-item bg-body-tertiary text-center">
                    <i class="fa-solid fa-retweet"></i>
                    <h5>Integrity</h5>
                    <p>Delivering high-quality patient care and customer service are our highest priorities.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 mb-4">
                <div class="core-value-item bg-body-tertiary text-center">
                    <i class="fa-solid fa-clock"></i>
                    <h5>Timelessness</h5>
                    <p>Delivering high-quality patient care and customer service are our highest priorities.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="core-value-item bg-body-tertiary text-center">
                    <i class="fa-solid fa-clock"></i>
                    <h5>Communications</h5>
                    <p>Delivering high-quality patient care and customer service are our highest priorities.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="core-value-item bg-body-tertiary text-center">
                    <i class="fa-solid fa-users"></i>
                    <h5>Safety</h5>
                    <p>Delivering high-quality patient care and customer service are our highest priorities.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}